[submodule "frontend"]
	path = frontend
	url = https://github.com/inasekin/bugtracker-frontend
[submodule "kubernetes"]
	path = kubernetes
	url = git@github.com:inasekin/kubernetes-config-bugtracker.git
